@import "compass";
@import "bootstrap";


/*************/
/* index.php */
/*************/

.brand {
	max-width: 175px;
	margin-top: -15px;
}

.container {
	background-color: $container-bgc-default;
 	box-shadow: 0 3px 15px 3px #6B6B6B;
}

.top-container {
	padding-top: 25px;
}

.main-container {
	min-height: 90%
}

.bottom-container {
	padding-top: 50px;
}

.navbar-default {
	margin-left: $navbar-ml;

	@media (min-width: $screen-sm-min) {
		width: $navbar-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $navbar-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $navbar-lg;
	}
}

body {
	background-color: #C8C8C8;
}


/*********************/
/* all PHP pages CSS */
/*********************/

$inner-padding: 15px;

.content {
	padding-left: $inner-padding;
	padding-right: $inner-padding;
}


/****************/
/* home.php CSS */
/****************/

.welcome {
	h1 {
		font-size: 50px;
		padding-left: 20px;
		margin-bottom: 20px;
	}

	p {
		line-height: 1.5;
		margin-bottom: 0px;
		text-align: justify;
		font-size: 16px;
	}
}

.columns-div {
	//margin-left: 200px;

	.info-column {
		float: left;
		position: relative;

		@media (min-width: $screen-sm-min) {
			width: $info-column-width-sm;
		}
		@media (min-width: $screen-md-min) {
			width: $info-column-width-md;
		}
		@media (min-width: $screen-lg-min) {
			width: $info-column-width-lg;
		}

		.info-column-content {
			width: $column-width;

			@media (min-width: $screen-sm-min) {
				margin-left: $column-content-margin-sm;
				margin-right: $column-content-margin-sm;
			}
			@media (min-width: $screen-md-min) {
				margin-left: $column-content-margin-md;
				margin-right: $column-content-margin-md;
			}
			@media (min-width: $screen-lg-min) {
				margin-left: $column-content-margin-lg;
				margin-right: $column-content-margin-lg;
			}
		}
	}
}